
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #0b0c10;
  color: #c5c6c7;
}

h1, h2, h3 {
  font-family: "Orbitron", sans-serif;
  color: #66fcf1;
  text-shadow: 0px 0px 10px #45a29e;
}

/* Contenedor general */
div {
  box-sizing: border-box;
}

/* Formulario*/
input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 6px;
  background: #1f2833;
  border: 1px solid #45a29e;
  color: #c5c6c7;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #66fcf1;
  box-shadow: 0 0 10px #66fcf1;
}

/* Btns */
button {
  padding: 10px 15px;
  background: #45a29e;
  color: #0b0c10;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #66fcf1;
  box-shadow: 0 0 15px #66fcf1;
}

/* Btn Rojo */
button[style*="red"] {
  background: #b30000 !important;
}

button[style*="red"]:hover {
  background: #ff1a1a !important;
  box-shadow: 0 0 15px #ff1a1a;
}
/* Tarjeta de juego */
.tarjeta {
  background: #1f2833;
  border: 2px solid #45a29e;
  border-radius: 12px;
  padding: 15px;
  width: 250px;
  box-shadow: 0px 0px 15px #000;
  transition: 0.3s;
}

.tarjeta:hover {
  transform: scale(1.05);
  border-color: #66fcf1;
  box-shadow: 0px 0px 25px #66fcf1;
}

/* Imagen de portada */
.tarjeta img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

/* Reseñas */
.reseña {
  background: #0b0c10;
  border-left: 3px solid #66fcf1;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
}

/* Estadísticas */
.stats-box {
  background: #1f2833;
  border: 2px solid #45a29e;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px #000;
}

.stats-box p {
  font-size: 18px;
  margin: 8px 0;
}
